<!DOCTYPE html>
<html>
	<head>ESPN fantasy {{ sport }} week report</head>
	<body align="center">
{% for league_name, table_dict in leagues.items() %}
		<h2>{{ league_name }}</h2>
	{%- for caption, table in table_dict.items() %}
		<h3>{{ caption }}</h3>
		<div style="overflow-x:auto;">
		{{ table }}
		</div>
		&nbsp;
{%- endfor %}
	{%- endfor %}

	{%- for caption, table in total_tables.items() %}
		<h3>{{ caption }}</h3>
		<div style="overflow-x:auto;">
		{{ table }}
		</div>
		&nbsp;
	{%- endfor %}
	</body>
</html>
